<div class="row">
  <div class="col-md-12" id="user-profile">
    <h1>Friends</h1>
    <hr>
    <button type="button" class="btn btn-primary js-add-timetable-popover" data-toggle="popover">Add Friends Timetable</button>
    <button type="button" class="btn btn-info js-merge-timetables">Merge Timetables</button>
    <div class="hide-title hide-room" id="friends"> 
      <div class="hide-title hide-room" id="merged-timetable"></div>
      <div class="hide-title hide-room" id="friends-timetables"></div>
    </div>
  </div>
</div>
