<div class="panel-heading">
  <h2 class="panel-title nm-section-title">{{name}} &middot; Semester {{semester}}</h2>
</div>
<div class="panel-body">
  <div class="row">
    <div class="col-md-12 friend-timetable">
    </div>
  </div>
</div>
<div class="panel-footer clearfix">
  <div class="buttons pull-right">
    <a class="cors btn btn-danger js-delete-friend-timetable"><i class="fa fa-trash-o"></i></a>
  </div>
</div>