<div class="row">
  <div class="col-md-12" id="user-profile">
    <h1>Friends</h1>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <div class="form-group">
            <label for="name">Name of Friend</label>
            <input type="text" class="form-control" id="name" placeholder="Enter friend's name" value="Yen Ling">
          </div>
          <div class="form-group">
            <label for="url">Timetable URL</label>
            <input type="url" class="form-control" id="url" value="http://modsn.us/WzG3d">
          </div>
          <button class="btn btn-default js-add-friend-timetable">Add</button>
        </div>
        <hr>
        <div class="hide-title hide-room" id="friends-timetables">
          
        </div>
      </div>
    </div>
  </div>
</div>
