<tbody>
  <tr>
	<td style="border-width: 1px; border-color: black; font-weight: bold; text-align:center;">Color Legends</td>
  </tr>

  <tr>
  	<td class="color2" style="border-width: 1px; border-color: black; text-align:center;">All available</td>
  </tr>
  <tr>
  	<td class="color1" style="border-width: 1px; border-color: black; text-align:center;">1 not available</td>
  </tr>
  <tr>
  	<td class="color0" style="border-width: 1px; border-color: black; text-align:center;">2+ not available</td>
  </tr>
</tbody>

