<div id="shared-timetable-alert" class="alert alert-warning alert-dismissable" role="alert">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Login First!</strong> Scheduler needs you to log in first. Click the <strong>Login</strong> button on the top right corner.
</div>
